body{
      font-family: Roboto;
      margin: 0px;
      padding: 0px;
}

.Section-1, .Section-2, .Section-3, .Section-4, footer{
    padding: 10px 300px;
}

.Section-1{
    background-color: #1F2937;
    padding-bottom: 100px;
}

header{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 10px;
}

li{
    display: flex;
    font-weight: normal;
    list-style: none;
    gap: 8px;
}
ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.content-s1{
    display: flex;
    margin-top: 100px;
    gap: 10px;
    justify-content: space-between;
}

li, .subtext, footer, .subtext-cta{
    font-size: 18px;
    color: #E5E7EB;
}

.heading{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /* flex: 3; */
    justify-content: space-evenly;
}

.image-box{
  background: rebeccapurple;
  flex-basis: 780px;
  height: 250px;
  margin: 8px;
  /* flex: 4; */
}

.button-S1{
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 18px;
    font-weight: bold;
}

.Section-2{

}

.heading-2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin:50px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 75px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box{
    border: #3882F6 solid;
    border-radius: 8px;
    background: none;
    width: 150px;
    height: 150px;
    /* align-self: center; */
  }

  .subtext-box{
    color: #1F2937;
    width: 150px;
  }

.Section-3{
    background-color: #E5E7EB;
    padding: 50px 300px;
    display: flex;
    flex-direction: column;
}

.Quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.author{
    font-size: 25px;
    font-weight: bold;
    align-self: flex-end;
}

.Section-4{
    padding: 100px;
    display: flex;
    justify-content: center;
}

.call-to-action{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 50px 100px;
    width: 1000px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.heading-cta{
    font-weight: bold;
    color: #E5E7EB;
    font-size: 20px;
}

.subtext-cta{
    font-weight: lighter;
}

.button-cta{
    color: #F9FAF8;
    background-color: #3882F6;
    border: solid;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 18px;
    font-weight: bold;
}

footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-weight: 300;
}